{% extends "base.html" %}

{% block content %}

    <h2>{{ document.title|capitalize }}</h2>

    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <b>Active revision:</b><br> {{ document.active_revision }}
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <b>Project:</b><br> {{ document.project.name|capitalize }}
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <b>Last updated:</b><br> {{ document.updated_on }}
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <b>Created:</b><br> {{ document.created_on }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <b>File name:</b><br> {{ last_edits[0].original_file_name }}
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <b>Document owner:</b><br> {{ document.user.username }}
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-primary" role="alert">
                    <b>Comment:</b><br> {{ last_edits[0].comment }}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="alert alert-primary" role="alert">
                    <h4>Download active revision</h4>
                    <form action="/download/{{ document.id }}/{{ document.active_revision }}" method="post" novalidate enctype=multipart/form-data>
                        {{ download_form.hidden_tag() }}
                        {{ download_form.submit() }}
                    </form>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-primary" role="alert">
                    <h4>Upload new revision</h4>
                    <form action="/upload_new_rev/{{ document.id }}" method="post" novalidate enctype=multipart/form-data>
                        {{ upload_form.hidden_tag() }}
                        {{ upload_form.file }}
                        {% for error in upload_form.file.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>

                        {{ upload_form.comment.label }}<br>
                        {{ upload_form.comment }}
                        {% for error in upload_form.comment.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                        <br>
                        {{ upload_form.submit() }}
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="alert alert-secondary" role="alert">
        <h3>Document history</h3>
        {% for edit in last_edits[1:] %}
            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-3">
                        {{ edit.revision }}
                    </div>
                    <div class="col-3">
                        {{ edit.user_id }}
                    </div>
                    <div class="col-3">
                        {{ edit.comment }}
                    </div>
                    <div class="col-3">
                        --
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}