{% extends "base.html" %}

{% block content %}

    <h2>{{ document.title }}</h2>

    <div>
        <div class="row">
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <b>Project:</b> {{ document.project.name }}
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <b>Last updated:</b> {{ last_edit.created_on }}
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <b>Created:</b> {{ document.created_on }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <b>File name:</b> {{ document.original_file_name }}
                </div>
            </div>
            <div class="col-8">
                <div class="alert alert-primary" role="alert">
                    <b>Comment:</b> {{ last_edit.comment }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}