{% extends "base.html" %}

{% block content %}

    <h2>doKument stream</h2>
    {% if current_user.is_authenticated %}
        {% for doc in documents %}
            <div class="alert alert-primary" role="alert">
                {{ doc.id }}-{{ doc.title }}-{{ doc.file_name }}-{{ doc.file_path }}-<a href="/document/{{ doc.id }}">details</a>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-primary" role="alert">
            Available to registered users
        </div>
    {% endif %}

{% endblock %}