{% extends "base.html" %}

{% block content %}

    <div class="alert alert-primary" role="alert">
        <h2>Create new document</h2>
        <form action="" method="post" novalidate enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <p>
                {{ form.project.label }}
                {{ form.project() }}
                {% for error in form.project.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.title.label }}
                {{ form.title(size=64) }}
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.revision.label }}
                {{ form.revision(size=3, readonly=true) }}
                {% for error in form.revision.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.file() }}
                {% for error in form.file.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.comment.label }} <br>
                {{ form.comment(rows=5, cols=50) }}
                {% for error in form.comment.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
{#            <input type=file name=file>#}
{#            <input type=submit value=Upload>#}
        </form>
    </div>

{% endblock %}